<section class="section">
  <div class="container">
    <h1>
      I work with people all over the world to create impressive and
      <span>functional</span> <span>functional</span> that reflect each client's
      unique personality.
    </h1>

    <div class="about-me__thumb">
      <img
        src="../img/mobile/about_me-343@1x.jpg"
        srcset="
          ../img/mobile/about_me-343@1x.jpg  1x,
          ..//img/mobile/about_me-343@2x.jpg 2x
        "
        alt="about-me"
        width="343"
        height="500"
      />
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="advantages">
      <li class="advantages-item">
        <h2 class="advantages-title">ABOUT ME</h2>
        <p class="advantages-text">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages ​​and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way. Able to work both independently and in a team.
          I can effectively cooperate with colleagues, exchanging ideas and
          finding optimal solutions. Professional maturity allows you to calmly
          cope with challenges and stressful situations, while maintaining a
          high quality of work. I am always looking for opportunities for
          self-improvement. I actively study new technologies and practices to
          stay abreast of the latest innovations. I have a strong understanding
          of various programming languages, frameworks and architectural
          concepts that allow me to create efficient and scalable software. Able
          to work both independently and in a team. I can effectively cooperate
          with colleagues, exchanging ideas and finding optimal solutions.
        </p>
        <p class="advantages-text">
          Professional maturity allows you to calmly cope with challenges and
          stressful situations, while maintaining a high quality of work. I am
          always looking for opportunities for self-improvement. I actively
          study new technologies and practices to stay abreast of the latest
          innovations. I have a strong understanding of various programming
          languages, frameworks and architectural concepts that allow me to
          create efficient and scalable software.
        </p>
      </li>
      <li class="advantages-item">
        <h2 class="advantages-title">ROLE</h2>
        <p class="advantages-text">Frontend development</p>
        <p class="advantages-text">HeadlessCMS,Wordpress</p>
        <p class="advantages-text">Blender(enjoy)</p>
      </li>
      <li class="advantages-item">
        <h2 class="advantages-title">EDUCATION</h2>
        <p class="advantages-text">
          2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
        </p>
        <p class="advantages-text">
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
          New York
        </p>
        <p class="advantages-text">
          2020 - 2022 / Advanced Blender Animation Techniques, Udemy
        </p>
      </li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="skills">
      <li class="skills-item">HTML/CSS</li>
      <li class="skills-item">JavaScript</li>
      <li class="skills-item">React</li>
      <li class="skills-item">Node.js</li>
      <li class="skills-item">React Native</li>
      <li class="skills-item">Soft skills</li>
    </ul>
  </div>
</section>
