</section>
<section id="benefits" class="section">
    <div class="container">
    <h2 class="title">BENEFITS OF WORKING WITH ME</h2>
    <div class="benefits-elemens">
            <ul class=" list benefits-list">
        <li class="benefits-card">
            <div class="benefits-icon">
            <svg width="24" height="24" class="benefits-banges">
                <use href="../img/icons/sprite.svg#icon-user"></use>
            </svg>
            </div>
    <h3 class="benefits-title">Expertise</h3>
    <p class="benefits-text">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
       </li>
<li class="benefits-card">
    <div class="benefits-icon">
        <svg width="24" height="24" class="benefits-banges">
            <use href="../img/icons/sprite.svg#icon-message-chat-circle"></use>
        </svg>
        </div>
    <h3 class="benefits-title">Communication</h3>
    <p class="benefits-text"> Understanding your needs and wants is my priority and I am always open to discussions and corrections.</p>
</li>
<li class="benefits-card">
    <div class="benefits-icon">
        <svg width="24" height="24" class="benefits-banges">
            <use href="../img/icons/sprite.svg#icon-brush"></use>
        </svg>
        </div>
    <h3 class="benefits-title">Art</h3>
    <p class="benefits-text">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life. </p>
</li>
<li class="benefits-card">
    <div class="benefits-icon">
        <svg width="24" height="24" class="benefits-banges">
            <use href="../img/icons/sprite.svg#icon-hourglass"></use>
        </svg>
        </div>
    <h3 class="benefits-title">Urgent execution</h3>
    <p class="benefits-text">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
</li>
</ul>
<button type="button" class="benefits-button">
    <a href="#work"></a>
    <p class="benefits-bt-text">Order the project</p>
    
</button>
    </div>

</div>
</section> 