<section id class="section">
    <div class="examples-container">
        <div class="examples-background-container">
            <div class="examples-background-gleam examples-background-gleam--1"></div>
            <div class="examples-background-gleam examples-background-gleam--2"></div>
            <div class="examples-background-gleam examples-background-gleam--3"></div>
        </div>
        <div class="examples-wrapper">
            <section class="example-section example-section--1"></section>
            <section class="example-section example-section--2"></section>
            <section class="example-section example-section--3"></section>
            <section class="example-section example-section--4 example-section--offset"></section>
            <section class="example-section example-section--5 example-section--offset"></section>
            <section class="example-section example-section--6 example-section--offset"></section>
            <section class="example-section example-section--7"></section>
            <section class="example-section example-section--8"></section>
            <section class="example-section example-section--9"></section>
        </div>
    </div>
</section>