<section class="covers-section section">
  <div class="covers-container container">
    <h2 class="visually-hidden title">Gallery</h2>
    <div class="covers">
      <ul class="covers-list list">
        <li class="covers-item"><img src="./img/desktop/covers-7-min.jpg"
               srcset="./img/desktop/covers-7-min.jpg 1x, ./img/desktop/covers-7@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-5-min.jpg"
               srcset="./img/desktop/covers-5-min.jpg 1x, ./img/desktop/covers-5@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-9-min.jpg"
               srcset="./img/desktop/covers-9-min.jpg 1x, ./img/desktop/covers-9@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-2-min.jpg"
               srcset="./img/desktop/covers-2-min.jpg 1x, ./img/desktop/covers-2@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-6-min.jpg"
               srcset="./img/desktop/covers-6-min.jpg 1x, ./img/desktop/covers-6@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-3-min.jpg"
               srcset="./img/desktop/covers-3-min.jpg 1x, ./img/desktop/covers-3@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-1-min.jpg"
               srcset="./img/desktop/covers-1-min.jpg 1x, ./img/desktop/covers-1@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-4-min.jpg"
               srcset="./img/desktop/covers-4-min.jpg 1x, ./img/desktop/covers-4@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-8-min.jpg"
               srcset="./img/desktop/covers-8-min.jpg 1x, ./img/desktop/covers-8@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-10-min.jpg"
               srcset="./img/desktop/covers-10-min.jpg 1x, ./img/desktop/covers-10@2x-min.jpg 2x" class="covers-img"
               alt="">
        </li>
      </ul>

      <ul class="covers-list list">
        <li class="covers-item"><img src="./img/desktop/covers-1-min.jpg"
               srcset="./img/desktop/covers-1-min.jpg 1x, ./img/desktop/covers-1@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-8-min.jpg"
               srcset="./img/desktop/covers-8-min.jpg 1x, ./img/desktop/covers-8@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-4-min.jpg"
               srcset="./img/desktop/covers-4-min.jpg 1x, ./img/desktop/covers-4@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-9-min.jpg"
               srcset="./img/desktop/covers-9-min.jpg 1x, ./img/desktop/covers-9@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-2-min.jpg"
               srcset="./img/desktop/covers-2-min.jpg 1x, ./img/desktop/covers-2@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-6-min.jpg"
               srcset="./img/desktop/covers-6-min.jpg 1x, ./img/desktop/covers-6@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-10-min.jpg"
               srcset="./img/desktop/covers-10-min.jpg 1x, ./img/desktop/covers-10@2x-min.jpg 2x" class="covers-img"
               alt="">
        </li>
        <li class="covers-item"><img src="./img/desktop/covers-3-min.jpg"
               srcset="./img/desktop/covers-3-min.jpg 1x, ./img/desktop/covers-3@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-7-min.jpg"
               srcset="./img/desktop/covers-7-min.jpg 1x, ./img/desktop/covers-7@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
        <li class="covers-item"><img src="./img/desktop/covers-5-min.jpg"
               srcset="./img/desktop/covers-5-min.jpg 1x, ./img/desktop/covers-5@2x-min.jpg 2x" class="covers-img"
               alt=""></li>
      </ul>

      <ul class="covers-list list">
        <li class="covers-item"><img srcset="./img/desktop/covers-6-min.jpg 1x, ./img/desktop/covers-6@2x-min.jpg 2x"
               src="./img/desktop/covers-6-min.jpg" class="covers-img" alt=""></li>
        <li class="covers-item"><img srcset="./img/desktop/covers-2-min.jpg 1x, ./img/desktop/covers-2@2x-min.jpg 2x"
               src="./img/desktop/covers-2-min.jpg" class="covers-img" alt=""></li>
        <li class="covers-item"><img srcset="./img/desktop/covers-3-min.jpg 1x, ./img/desktop/covers-3@2x-min.jpg 2x"
               src="./img/desktop/covers-3-min.jpg" class="covers-img" alt=""></li>
        <li class="covers-item"><img srcset="./img/desktop/covers-5-min.jpg 1x, ./img/desktop/covers-5@2x-min.jpg 2x"
               src="./img/desktop/covers-5-min.jpg" class="covers-img" alt=""></li>
        <li class="covers-item"><img srcset="./img/desktop/covers-7-min.jpg 1x, ./img/desktop/covers-7@2x-min.jpg 2x"
               src="./img/desktop/covers-7-min.jpg" class="covers-img" alt=""></li>
        <li class="covers-item"><img srcset="./img/desktop/covers-1-min.jpg 1x, ./img/desktop/covers-1@2x-min.jpg 2x"
               src="./img/desktop/covers-1-min.jpg" class="covers-img" alt=""></li>
        <li class="covers-item"><img srcset="./img/desktop/covers-8-min.jpg 1x, ./img/desktop/covers-8@2x-min.jpg 2x"
               src="./img/desktop/covers-8-min.jpg" class="covers-img" alt=""></li>
        <li class="covers-item"><img srcset="./img/desktop/covers-4-min.jpg 1x, ./img/desktop/covers-4@2x-min.jpg 2x"
               src="./img/desktop/covers-4-min.jpg" class="covers-img" alt=""></li>
        <li class="covers-item"><img srcset="./img/desktop/covers-10-min.jpg 1x, ./img/desktop/covers-10@2x-min.jpg 2x"
               src="./img/desktop/covers-10-min.jpg" class="covers-img" alt=""></li>
        <li class="covers-item"><img srcset="./img/desktop/covers-9-min.jpg 1x, ./img/desktop/covers-9@2x-min.jpg 2x"
               src="./img/desktop/covers-9-min.jpg" class="covers-img" alt=""></li>
      </ul>

    </div>
  </div>
</section>