<link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

<div class="content">
    <div class="marquee">
        <div class="marquee__inner">

            <p <source srcset="/ 1x, / 2x" type="image/webp">Project 1
            <img class="foto" src="/" alt="foto">
            </p>

            <p <source srcset="/src/img/desktop/covers4-680@1x.jpg 1x, /src/img/desktop/covers4-680@2x.jpg 2x" type="image/webp">Project 2
                <img class="foto" src="/src/img/desktop/covers4-680@1x.jpg" alt="foto">
            </p>

            <p <source srcset="/src/img/desktop/covers5-680@1x.jpg 1x, /src/img/desktop/covers5-680@2x.jpg 2x" type="image/webp">Project 3
                <img class="foto" src="/src/img/desktop/covers5-680@1x.jpg" alt="foto">
            </p>

            <p <source srcset="/src/img/desktop/covers6-680@1x.jpg 1x, /src/img/desktop/covers6-680@2x.jpg 2x" type="image/webp">Project 4
                <img class="foto" src="/src/img/desktop/covers6-680@1x.jpg" alt="foto">
            </p>

            <p <source srcset="/src/img/desktop/covers7-680@1x.jpg 1x, /src/img/desktop/covers7-680@2x.jpg 2x" type="image/webp">Project 5
                <img class="foto" src="/src/img/desktop/covers7-680@1x.jpg" alt="foto">
            </p>

            <p <source srcset="/src/img/desktop/covers8-680@1x.jpg 1x, /src/img/desktop/covers8-680@2x.jpg 2x" type="image/webp">Project 6
                <img class="foto" src="/src/img/desktop/covers8-680@1x.jpg" alt="foto">
            </p>

            <p <source srcset="/src/img/desktop/covers9-680@1x.jpg 1x, /src/img/desktop/covers9-680@2x.jpg 2x" type="image/webp">Project 7
                <img class="foto" src="/src/img/desktop/covers9-680@1x.jpg" alt="foto">
            </p>

            <p <source srcset="/src/img/desktop/covers10-680@1x.jpg 1x, /src/img/desktop/covers10-680@2x.jpg 2x" type="image/webp">Project 8
                <img class="foto" src="/src/img/desktop/covers10-680@1x.jpg" alt="foto">
            </p>

            <p <source srcset="/src/img/desktop/covers11-680@1x.jpg 1x, /src/img/desktop/covers11-680@2x.jpg 2x" type="image/webp">Project 9
                <img class="foto" src="/src/img/desktop/covers11-680@1x.jpg" alt="foto">
            </p>

            <p <source srcset="/src/img/desktop/covers12-680@1x.jpg 1x, /src/img/desktop/covers12-680@2x.jpg 2x" type="image/webp">Project 10
                <img class="foto" src="/src/img/desktop/covers12-680@1x.jpg" alt="foto">
            </p>

        </div>
        <div class="marquee__inner">

            <p <source srcset="/ 1x, / 2x" type="image/webp">Project 1
                <img class="foto" src="/" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers4-680@1x.jpg 1x, /src/img/desktop/covers4-680@2x.jpg 2x" type="image/webp">Project 2
                <img class="foto" src="/src/img/desktop/covers4-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers5-680@1x.jpg 1x, /src/img/desktop/covers5-680@2x.jpg 2x" type="image/webp">Project 3
                <img class="foto" src="/src/img/desktop/covers5-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers6-680@1x.jpg 1x, /src/img/desktop/covers6-680@2x.jpg 2x" type="image/webp">Project 4
                <img class="foto" src="/src/img/desktop/covers6-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers7-680@1x.jpg 1x, /src/img/desktop/covers7-680@2x.jpg 2x" type="image/webp">Project 5
                <img class="foto" src="/src/img/desktop/covers7-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers8-680@1x.jpg 1x, /src/img/desktop/covers8-680@2x.jpg 2x" type="image/webp">Project 6
                <img class="foto" src="/src/img/desktop/covers8-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers9-680@1x.jpg 1x, /src/img/desktop/covers9-680@2x.jpg 2x" type="image/webp">Project 7
                <img class="foto" src="/src/img/desktop/covers9-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers10-680@1x.jpg 1x, /src/img/desktop/covers10-680@2x.jpg 2x" type="image/webp">Project 8
                <img class="foto" src="/src/img/desktop/covers10-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers11-680@1x.jpg 1x, /src/img/desktop/covers11-680@2x.jpg 2x" type="image/webp">Project 9
                <img class="foto" src="/src/img/desktop/covers11-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers12-680@1x.jpg 1x, /src/img/desktop/covers12-680@2x.jpg 2x" type="image/webp">Project 10
                <img class="foto" src="/src/img/desktop/covers12-680@1x.jpg" alt="foto">
            </p>

        </div>
        <div class="marquee__inner">

            <p <source srcset="/ 1x, / 2x" type="image/webp">Project 1
                <img class="foto" src="/" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers4-680@1x.jpg 1x, /src/img/desktop/covers4-680@2x.jpg 2x" type="image/webp">Project 2
                <img class="foto" src="/src/img/desktop/covers4-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers5-680@1x.jpg 1x, /src/img/desktop/covers5-680@2x.jpg 2x" type="image/webp">Project 3
                <img class="foto" src="/src/img/desktop/covers5-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers6-680@1x.jpg 1x, /src/img/desktop/covers6-680@2x.jpg 2x" type="image/webp">Project 4
                <img class="foto" src="/src/img/desktop/covers6-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers7-680@1x.jpg 1x, /src/img/desktop/covers7-680@2x.jpg 2x" type="image/webp">Project 5
                <img class="foto" src="/src/img/desktop/covers7-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers8-680@1x.jpg 1x, /src/img/desktop/covers8-680@2x.jpg 2x" type="image/webp">Project 6
                <img class="foto" src="/src/img/desktop/covers8-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers9-680@1x.jpg 1x, /src/img/desktop/covers9-680@2x.jpg 2x" type="image/webp">Project 7
                <img class="foto" src="/src/img/desktop/covers9-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers10-680@1x.jpg 1x, /src/img/desktop/covers10-680@2x.jpg 2x" type="image/webp">Project 8
                <img class="foto" src="/src/img/desktop/covers10-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers11-680@1x.jpg 1x, /src/img/desktop/covers11-680@2x.jpg 2x" type="image/webp">Project 9
                <img class="foto" src="/src/img/desktop/covers11-680@1x.jpg" alt="foto">
            </p>
            
            <p <source srcset="/src/img/desktop/covers12-680@1x.jpg 1x, /src/img/desktop/covers12-680@2x.jpg 2x" type="image/webp">Project 10
                <img class="foto" src="/src/img/desktop/covers12-680@1x.jpg" alt="foto">
            </p>

        </div>
    </div>
</div>