<header class="page-header" id="header">
  <div class="container page-header-container">
    <div class="logo-thumb">
      <img class="logo" src="./img/mobile/logo-80@1x.jpg" srcset="./img/mobile/logo-80@2x.jpg 2x" alt="logo" width="80"
           height="80" />
      <div class="logo-name">
        <svg width="84" height="19" class="logo-name-icon">
          <use href="./img/icons/sprite.svg#icon-jeffer"></use>
        </svg>
      </div>
    </div>

    <nav class="page-nav">
      <div class="page-dropdown-nav">
        <button class="dropdown-nav-btn button">Menu</button>
        <ul class="dropdown-nav-list visually-hidden list">
          <li class="dropdown-nav-item">
            <a href="#about" class="nav-menu-link link">About me</a>
          </li>
          <li class="dropdown-nav-item">
            <a href="#benefits" class="nav-menu-link link">Benefits</a>
          </li>
          <li class="dropdown-nav-item">
            <a href="#projects" class="nav-menu-link link">Projects</a>
          </li>
          <li class="dropdown-nav-item">
            <a href="#faq" class="nav-menu-link link">FAQ</a>
          </li>
        </ul>
      </div>
    </nav>

    <a href="#work-together" class="link page-header-btn-link">Order the project</a>

    <button class="header-mobile-open-btn button" id="open-menu-button" type="button">
      <svg class="header-open-icon" width="28" height="28">
        <use href="./img/icons/sprite.svg#icon-burger"></use>
      </svg>
    </button>

  </div>
</header>