<section class="hero-section section">
    <div class="container">
        <picture>
            <!-- Mobile -->
            <source media="(min-width: 375px)"
                srcset="../img/mobile/hero-mob.png 1x, ../img/mobile/hero-mob-@2x.png 2x">
             <!-- Tablet -->
            <source media="(min-width: 768px)"
            srcset="../img/tablet/hero-tab.png 1x, ../img/tablet/hero-tab-@2x.png 2x">
            <!-- Desktop -->
            <source media="(min-width: 1440px)"
            srcset="../img/desktop/hero-desk.png 1x, ../img/desktop/hero-desk-@2x.png 2x">                         
        </picture>
    <h1 class="hero-title">Hello. <br>I'm Fullstack developer Lloyd Jefferson.</h1>
    <nav>
        <ul class="ul-hero list">
            <li>
                <a href="https://www.instagram.com/goitclub/">
                    <button class="btn-hero ig">IG</button>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/goITclub/">
                    <button class="btn-hero fb">FB</button>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/GoIT">
                    <button class="btn-hero yt">YT</button>
                </a>
            </li>
            <li>
                <a href="https://github.com/Juliase4/portfolio-project-11">
                    <button class="btn-hero gh">GH</button>
                </a>
            </li>
            <li>
                <a href="mailto:lloydjefferson@gmail.com">
                    <button class="btn-hero mailto">lloydjefferson@gmail.com</button>
                </a>
            </li>
        </ul>
    </nav>
    </div>
</section>