<section class="hero-section section">
  <div class="container">
    <h1 class="hero-title">Hello. <br>I'm Fullstack developer Lloyd Jefferson.</h1>
    <nav>
      <ul class="ul-hero list">
        <li>
          <a class="btn-hero ig link" target="_blank" href="https://www.instagram.com/goitclub/">IG
          </a>
        </li>
        <li>
          <a class="btn-hero fb link" target="_blank" href="https://www.facebook.com/goITclub/">FB
          </a>
        </li>
        <li>
          <a class="btn-hero yt link" target="_blank" href="https://www.youtube.com/c/GoIT">YT
          </a>
        </li>
        <li>
          <a class="btn-hero gh link" target="_blank" href="https://github.com/Juliase4/portfolio-project-11">GH
          </a>
        </li>
        <li>
          <a class="btn-hero mailto link" href="mailto:lloydjefferson@gmail.com"
             rel="noopener noreferrer">lloydjefferson@gmail.com
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>