<section class="hero-section">
    <div class="container">
    <h1 class="hero-title">Hello. <br>I'm Fullstack developer Lloyd Jefferson.</h1>
    <nav>
        <ul class="ul-hero">
            <li>
                <a href="https://www.instagram.com/goitclub/">
                    <button class="btn-hero ig">IG</button>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/goITclub/">
                    <button class="btn-hero fb">FB</button>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/GoIT">
                    <button class="btn-hero yt">YT</button>
                </a>
            </li>
            <li>
                <a href="https://github.com/Juliase4/portfolio-project-11">
                    <button class="btn-hero gh">GH</button>
                </a>
            </li>
            <li>
                <a href="mailto:lloydjefferson@gmail.com">
                    <button class="btn-hero mailto">lloydjefferson@gmail.com</button>
                </a>
            </li>
        </ul>
    </nav>
    </div>
</section>
</div>