<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close-btn" type="button">
      <svg class="mobile-menu-close-btn-icon" width="28" height="28">
        <use href='./img/icons/sprite.svg#icon-close'></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-list list">
        <li class="mob-menu-list-item">
          <a class="mob-menu-list-link link" href="#about">About me</a>
        </li>
        <li class="mob-menu-list-item">
          <a class="mob-menu-list-link link" href="#benefits">Benefits</a>
        </li>
        <li class="mob-menu-list-item">
          <a class="mob-menu-list-link link" href="#projects">Projects</a>
        </li>
        <li class="mob-menu-list-item">
          <a class="mob-menu-list-link link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <div class="mob-btn-wrapper">
      <button class="mob-button" type="submit">Order the project</button>
    </div>
  </div>
</div>