<section id class="section">
  <div class="container">
    <h2 class="title">Projects</h2>
    <div class="project-content" style="max-width: 1376px; max-height: 625px">
      <div class="slider">
        <div class="slides">
          <div class="slide">
            <div class="interior-style">
              <div class="prjkt-ing">
                <img src="../img/desktop/Registration x1.jpg" alt="Image 1" />
              </div>
              <div class="filling-slide">
                <ul class="list-style">
                  <li class="project-li-style">#react</li>
                  <li class="project-li-style">#js</li>
                  <li class="project-li-style">#nodejs</li>
                  <li class="project-li-style">#git</li>
                </ul>
                <h2 class="slide-description">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h2>
                <a
                  href="https://github.com/Juliase4/portfolio-project-11/tree/start_projects"
                  class="project-button"
                  >See project</a
                >
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="interior-style">
              <div class="prjkt-ing">
                <img src="../img/desktop/Main x1.jpg" alt="Image 1" />
              </div>
              <div class="filling-slide">
                <ul class="list-style">
                  <li class="project-li-style">#react</li>
                  <li class="project-li-style">#js</li>
                  <li class="project-li-style">#nodejs</li>
                  <li class="project-li-style">#git</li>
                </ul>
                <h2 class="slide-description">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h2>
                <a
                  href="https://github.com/Juliase4/portfolio-project-11/tree/start_projects"
                  class="project-button"
                  >See project</a
                >
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="interior-style">
              <div class="prjkt-ing">
                <img src="../img/desktop/Register x1.jpg" alt="Image 1" />
              </div>
              <div class="filling-slide">
                <ul class="list-style">
                  <li class="project-li-style">#react</li>
                  <li class="project-li-style">#js</li>
                  <li class="project-li-style">#nodejs</li>
                  <li class="project-li-style">#git</li>
                </ul>
                <h2 class="slide-description">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h2>
                <a
                  href="https://github.com/Juliase4/portfolio-project-11/tree/start_projects"
                  class="project-button"
                  >See project</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-slider">
        <button class="prev reviews-slider-arrow" disabled>
          <svg class="reviews-slider-arrow-icon" width="24" height="24">
            <use href="./img/icons/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="next reviews-slider-arrow">
          <svg class="reviews-slider-arrow-icon" width="24" height="24">
            <use href="./img/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
