
<section class="section">
  <div class="container">
    <h2 class="title">Projects</h2>
    <div class="slider">
      <div class="slides">
        <div class="slide">
          <img src="image1.jpg" alt="Image 1" />
          <h2>Заголовок 1</h2>
          <p>Опис 1</p>
        </div>
        <div class="slide">
          <img src="image2.jpg" alt="Image 2" />
          <h2>Заголовок 2</h2>
          <p>Опис 2</p>
        </div>
        <div class="slide">
          <img src="image3.jpg" alt="Image 3" />
          <h2>Заголовок 3</h2>
          <p>Опис 3</p>
        </div>
      </div>
      <div class="reviews-slider">
        <button class="prev reviews-slider-arrow" disabled>
          <svg class="reviews-slider-arrow-icon" width="24" height="24">
            <use href="./img/icons/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="next reviews-slider-arrow">
          <svg class="reviews-slider-arrow-icon" width="24" height="24">
            <use href="./img/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
