<section class="reviews section">
  <div class="container">
    <h2 class="title">Reviews</h2>
    <div class="reviews-cards swiper reviews-swiper">
      <ul class="reviews-list list swiper-wrapper">
      </ul>

      <div class="rev-wrapp">
        <button class="reviews-slider-arrow swiper-button-prev" type="button">
          <svg class="reviews-slider-arrow-icon" width="24" height="24">
            <use href='./img/icons/sprite.svg#icon-arrow-left'></use>
          </svg>
        </button>
        <button class="reviews-slider-arrow swiper-button-next" type="button">
          <svg class="reviews-slider-arrow-icon" width="24" height="24">
            <use href='./img/icons/sprite.svg#icon-arrow-right'></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>