<section class="reviews section">
  <div class="container">
    <h2 class="title">Reviews</h2>
    <div class="reviews-cards rev-swiper-container-js swiper-container">
      <ul class="reviews-list list rev-swiper-wrapper-js">
      </ul>
    </div>
    <div class="reviews-slider-btn">
      <button class="reviews-slider-arrow rev-swiper-button-prev-js swiper-button-disabled" type="button">
        <svg class="reviews-slider-arrow-icon" width="24" height="24">
          <use href='./img/icons/sprite.svg#icon-arrow-left'></use>
        </svg>
      </button>
      <button class="reviews-slider-arrow rev-swiper-button-next-js swiper-button-disabled" type="button">
        <svg class="reviews-slider-arrow-icon" width="24" height="24">
          <use href='./img/icons/sprite.svg#icon-arrow-right'></use>
        </svg>
      </button>
    </div>
  </div>
</section>