<section class="section" id="work-together">
  <div class="container">
    <div class="work-div">
      <img class="img-together" src="./img/mobile/logo-80@1x.jpg" srcset="./img/mobile/logo-80@2x.jpg 2x" alt="logo"
           width="44px" height="44px" />
      <h1 class="work-together-text">LET'S <span>WORK</span></h1>
    </div>
    <h1 class="together">TOGETHER</h1>
    <form>
      <input type="email" name="email" id="email" placeholder="clients@gmail.com">
      <input type="text" id="form-text" placeholder="comments">
      <button class="submit-button" id="btn-submit">Send</button>
    </form>
    <div class="div-contact">
      <a href="tel:+380983582418" class="phone-number">+ 380 98 358 24 18</a><a href="mailto:lloydjefferson@gmail.com"
         class="mail-link">lloydjefferson@gmail.com</a>
    </div>
  </div>
</section>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modal-message"></p>
  </div>
</div>