<section id="work-together">
    <div class="work-div">
        <img class="img-together" 
        src="../img/mobile/logo-80@1x.jpg" 
        srcset="../img/mobile/logo-80@2x.jpg 2x" 
        alt="logo"
        width="44px"
        height="44px" /><h1 class="work-together-text">LET'S <span>WORK</span></h1>
    </div>
    <h1 class="together">TOGETHER</h1>
    <form>
        <input type="email" name="email" id="email" placeholder="clients@gmail.com">
        <input type="text" id="form-text" placeholder="comments">
        <button class="submit-button" id="btn-submit">Send</button>
    </form>
</section>