<section class="section" id="work-together">
  <div class="container">
    <div class="work-div">
      <img class="img-together" src="./img/mobile/logo-80@1x.jpg" srcset="./img/mobile/logo-80@2x.jpg 2x" alt="logo"
           width="44px" height="44px" />
      <h2 class="work-together-text">LET'S <span>WORK</span></h2>
    </div>
    <h2 class="together">TOGETHER</h2>
    <form class="work-form">
      <input type="email" name="email" id="email" placeholder="clients@gmail.com">
      <input type="text" id="form-text" placeholder="comments">
      <button class="submit-button" id="btn-submit">Send</button>
    </form>
    <address class="work-address">
      <a href="mailto:lloydjefferson@gmail.com" class="mail-link link">lloydjefferson@gmail.com</a>
      <a href="tel:+3801111111111" class="phone-number link" rel="noopener noreferrer">+380 11 1111 11 11</a>
    </address>
    <!-- <div class="div-contact"> -->

    <!-- </div> -->
  </div>
</section>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modal-message"></p>
  </div>
</div>