.about__section {
  padding-top: 64px;
  padding-bottom: 32px;
}

.about-me {
  padding-bottom: 32px;
}

.thumb {
  display: flex;
  justify-content: center;
  border-radius: 24px;
  max-width: 343px;
  width: 100%;
  height: 500px;
  background: var(--cards);
  padding: 32px;
  margin-bottom: 12px;
}

.about-me__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}

.websites {
  color: rgba(250, 250, 250, 0.4);
}

.about-me__img {
  border-radius: 24px;
  max-width: 343px;
  width: 100%;
  height: 500px;
  background: var(--cards);
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .about__section {
    padding-top: 64px;
    padding-bottom: 48px;
  }

  .about-me {
    padding-bottom: 64px;
  }

  .thumb {
    max-width: 704px;
    height: 700px;
    padding: 64px;
    margin-bottom: 16px;
  }

  .about-me__title {
    font-size: 38px;
    line-height: 105%;
  }

  .about-me__img {
    max-width: 704px;
    height: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .about__section {
    padding-top: 96px;
    padding-bottom: 82px;
  }

  .about-me {
    padding-bottom: 96px;
    display: flex;
    gap: 16px;
  }

  .thumb {
    max-width: 680px;
    height: 700px;
    margin-bottom: 0;
  }

  .about-me__img {
    max-width: 680px;
    height: 700px;
  }
}

/* Переваги */
.about__section .advantages__ac::after {
  content: '';
  margin-left: 16px;
  width: 34px;
  height: 34px;
  border: 1px solid #fafafa33;
  border-radius: 100%;
  background: url('../img/icons/faq-icon.svg') no-repeat center / 20px 20px;
  transition: 0.3s;
}

.about__section .advantages__item.is-active .advantages__ac::after {
  transform: rotate(-180deg);
}

.advantages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}

.advantages__ac {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.advantages__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.advantages__panel {
  margin-bottom: 20px;
  overflow: hidden;
}

.advantages__item::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.2);
}

.advantages__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

.role,
.education {
  margin-bottom: 10px;
}

.advantages__text:last-child {
  margin-bottom: 0;
}

.advantages__icon {
  fill: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
}

@media screen and (min-width: 768px) {
  .advantages {
    gap: 32px;
    margin-bottom: 64px;
  }

  .advantages__ac {
    margin-bottom: 8px;
  }

  .advantages__panel {
    margin-bottom: 32px;
  }

  .about {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .advantages {
    margin-bottom: 96px;
  }

  .advantages-panel {
    margin-left: 50%;
  }

  .about {
    margin-bottom: 32px;
  }
}

/* Навички */
.skills__container {
  position: relative;
}

.about__section .my-swiper {
  margin: 0;
  width: 260px;
  position: static;
}

.about__section .skills__item {
  /* aspect-ratio: 1 / 1; */
  text-align: center;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 130px;
  height: 130px;
  position: relative;
  transition: background-color 250ms linear;
}

.skills__item:hover {
  background-color: var(--accent-color);
}

.skills__text {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills__container .swiper-button-next::after {
  position: absolute;
  left: 0;
  content: '';
  width: 40px;
  height: 40px;
  background: url('../img/icons/arrow-narrow-right.svg') no-repeat center / 30px
    22px;
  transition: 0.3s;
  stroke-width: 2px;
  stroke: var(--arrow);
}

@media screen and (min-width: 768px) {
  .about__section .skills__item {
    width: 200px;
    height: 200px;
  }

  .about__section .my-swiper {
    width: 600px;
    height: 200px;
  }

  .skills__text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .skills__container {
    margin: 0 auto;
  }

  .about__section .my-swiper {
    width: 1200px;
    height: 200px;
  }
}
