body {
  /* font-family: 'Manrope', sans-serif;
  background-color: #1c2225;
  color: rgba(252, 249, 249, 0.4); */
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

button {
  cursor: pointer;
  border: none;
}

.accent-color {
  color: #ecd979;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .container {
    width: 367px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}