.container {
  padding: 0 32px;
  margin: 0 auto;
  border: 2px solid;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

button {
  cursor: pointer;
  border: none;
}

.accent-color {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .container {
    width: 343px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}

/* @media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
} */
