.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
}

.accent-color {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 343px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}