.benefits-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
  padding-bottom: 8px;
}

.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-icon {
  background-color: var(--accent-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 48px;
  margin-bottom: 64px;
}

.benefits-card {
  background-color: var(--cards);
  border-radius: 20px;
  padding: 24px;
}

.benefits-button {
  border: 1px solid #FAFAFA33;
  background-color: var(--background);
  border-radius: 60px;
  padding: 18px 36px 18px 36px;
  margin-top: 32px;
}

.benefits-button:hover,
.benefits-button:focus {
  background-color: var(--arrow);
}

.benefits-bt-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--main-text);
  text-decoration: none;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.benefits-banges {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .benefits-card {
    width: calc((100% - 16px) / 2);
  }

}

@media screen and (min-width: 1440px) {
  .benefits-elemens {
    padding-left: 50%;
  }
}