.benefits-elemens {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.benefits-card {
  background-color: var(--cards);
  border-radius: 20px;
  padding: 24px;
}

.benefits-icon {
  background-color: var(--accent-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 48px;
  margin-bottom: 64px;
}

.benefits-banges {
  fill: var(--accent-color);
}

.benefits-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
  padding-bottom: 8px;
}

.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-bt-text {
  display: inline-block;
  margin-top: 32px;
  text-align: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  white-space: nowrap;

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  width: 187px;
  height: 55px;

  transition: background-color 250ms linear;
}

.benefits-bt-text:hover,
.benefits-bt-text:focus {
  background-color: var(--arrow);
}

@media screen and (min-width: 768px) {
  .benefits-elemens {
    align-items: flex-start;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .benefits-card {
    width: calc((100% - 16px) / 2);
  }

  .benefits-bt-text {
    margin-top: 64px;
  }

}

@media screen and (min-width: 1440px) {
  .benefits-elemens {
    padding-left: 50%;
  }
}