.covers-section {
  position: relative;
  height: 960px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cover-container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../img/desktop/covers_vectors.png");
}

.covers-list {
  display: flex;
  transform: rotate(16deg);
  width: 100%;
  margin-bottom: 40px;

}

@media screen and (min-width:768px) {
  .covers-list {
    height: calc(100vh / 3);
    display: flex;
    transform: rotate(16deg);
    width: 100%;
    margin-top: -100px;
    margin-bottom: 150px;
  }
}

.covers-list:last-child {
  margin-bottom: 0;
}

.covers-item {
  margin-right: 40px;
}

.covers-img {
  max-width: 282px;
  max-height: 162px;
}

@media screen and (min-width:768px) {
  .covers-img {
    max-width: 544px;
    max-height: 314px;
  }
}