.covers-section {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  background-image: url("../img/desktop/covers_vectors.png");
  background-size: cover;
}

.covers-list {
  display: flex;
  transform: rotate(16deg);
  width: 100%;
  margin-bottom: 40px;
}

.covers-list:last-child {
  margin-bottom: 0;
}

.covers-item {
  margin-right: 40px;
}

.covers-img {
  max-width: 282px;
  max-height: 162px;
}

@keyframes slideAnimation {
  0% {
    transform: rotate(16deg) translateX(0);
  }

  50% {
    transform: rotate(16deg) translateX(var(--elementsCount));
  }

  100% {
    transform: rotate(16deg) translateX(0);
  }
}

.animation .covers-list {
  animation: slideAnimation 80s linear infinite;
}

@media screen and (min-width:768px) {
  .covers-list {
    height: calc(100vh / 3);
    display: flex;
    transform: rotate(16deg);
    width: 100%;
    margin-top: -100px;
    margin-bottom: 150px;
  }

  .covers-img {
    max-width: 544px;
    max-height: 314px;
  }
}