.faq-section .title{
    margin-bottom: 32px;
}
.faq-section .faq-item__content{
    overflow: hidden;
}
.faq-section .faq-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.faq-section .faq-item{
    padding: 10px 0;
    border-top: 1px solid #FAFAFA33;
}
.faq-section .faq-item__content-inner{
    padding: 10px 0;
}
.faq-section .faq-item.is-active .faq-item__btn:after{
    transform: rotate(-180deg);
}
.faq-section .faq-item:nth-child(odd){
    border-left: none;
}
.faq-section .faq-item:nth-child(even){
    border-right: none;
}
.faq-section .faq-item__btn{
    width: 100%;
    padding: 10px 0;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    background: none;
    color: #fff;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    outline: none;
}
  
.faq-section .faq-item__btn:after{
    content : "";
    margin-left: 16px;
    width: 34px;
    height: 34px;
    border: 1px solid #FAFAFA33;
    border-radius: 100%;
    background: url('../img/icons/faq-icon.svg') no-repeat center / 20px 20px;
    flex-shrink: 0;
    transition: .3s;
}

.faq-list p{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: -0.02em;
   opacity: .6;
}
@media screen and (max-width: 767px){
    .faq-section .faq-item:last-child{
        border-bottom: 1px solid #FAFAFA33;
    }
}
@media screen and (min-width: 768px) {
    .faq-section .faq-item{
        width: 50%;
        border: 0.5px solid #FAFAFA33;
    }
    .faq-section .faq-item__content-inner{
        padding: 10px 32px;
    }
    .faq-section .faq-item:nth-child(even) .faq-item__btn,
    .faq-section .faq-item:nth-child(even) .faq-item__content-inner{
        padding-right: 0;
     }
     .faq-section .faq-item:nth-child(odd) .faq-item__btn,
     .faq-section .faq-item:nth-child(odd) .faq-item__content-inner{
        padding-left: 0;
     } 
     .faq-section .faq-item__btn{
        padding: 16px 32px;
     }
    
    .faq-section .faq-item__btn:after{
        height: 40px;
        width: 40px;
    }
    .faq-section .faq-item{
        padding: 16px 0;
    }
}
@media screen and (min-width: 375px) {
    
    
}