html{
  scroll-behavior: smooth;
}

.page-header-container{
  position: absolute;
  background-color: transparent;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-0%);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 32px;
}

.logo-thumb {
  display: flex;
}

.logo {
  border-radius: 18px;
  letter-spacing: 0.02em;
}

.logo-name {
  color: var(--main-text);
  font-size: 20px;
  font-style: medium;
  margin-left: 8px;
}

.page-nav {
  display: none;
}

.page-header-btn-link {
  display: none;
}


@media screen and (max-width: 767px) {

  .header-mobile-open-btn {
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .header-open-icon:hover {
    stroke: var(--accent-color);
  }
}


@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
  }

  .page-header-btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 55px;
    color: var(--main-text);
    background-color: var(--accent-color);
    border-radius: 60px;
    padding: 18px 24px;
    white-space: nowrap;
    letter-spacing: 0.02em;
    transition: opacity 1s ease;
  }

  .page-header-btn-link:hover{
    background-color: #E0373F;
    }

  .header-mobile-open-btn {
    display: none;
  }

  .page-dropdown-nav{
    width: 67px;
    height: 39px;
  }

  .dropdown-nav-btn {
    color: var(--main-text);
    background-color: transparent;
    padding: 10px;
    text-decoration: underline;
    transition: opacity 1s ease;
  }

  .dropdown-nav-btn:hover {
    color: var(--accent-color);
    }

  .dropdown-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    white-space: nowrap;
    transition: opacity 1s ease;      
  }

  .nav-menu-link {
    letter-spacing: 0.02em;
    color: var(--main-text);
  }

  .nav-menu-link:hover {
    color: var(--accent-color);
  }

}