html{
  scroll-behavior: smooth;
}

.page-header{
  position: relative;
  width: 100%;
}

.page-header-container{
  position: absolute;
  background-color: transparent;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 32px;
}

.logo-thumb {
  display: flex;
}

.logo {
  border-radius: 18px;
  letter-spacing: 0.02em;
}

.logo-name {
  color: var(--main-text);
  font-size: 20px;
  font-style: medium;
  margin-left: 8px;
}

.page-nav {
  display: none;
}

.page-header-btn {
  display: none;
}


@media screen and (max-width: 767px) {

  .header-mobile-open-btn {
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .header-open-icon:hover {
    stroke: var(--accent-color);
  }
}


@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
  }

  .page-header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 55px;
    background-color: var(--accent-color);
    border-radius: 60px;
    padding: 24px 18px;
    gap: 10px;
    transition: opacity 1s ease;
  }

  .page-header-btn-link{
    color: var(--main-text);
    }

  .page-header-btn:hover{
      background-color: #E0373F;
    }

  .header-mobile-open-btn {
    display: none;
  }

  .dropdown-nav-dropbtn {
    color: var(--main-text);
    background-color: transparent;
    margin: 8px;
    text-decoration: underline;
    transition: opacity 1s ease;
  }

  .dropdown-nav-dropbtn:hover {
    color: var(--accent-color);
    }

  .dropdown-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    transition: opacity 1s ease;      
  }

  .nav-menu-link {
    color: var(--main-text);
  }

  .nav-menu-link:hover {
    color: var(--accent-color);
  }

}