.hero-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);
    margin-bottom: 243px;
}
.nav-hero{

}
.ul-hero{

}
.li-hero{

}
.btn-hero {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--main-text);
    background: var(--background);
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
}
.ig {
    padding: 18px 20px;
    width: 55px;
    height: 55px;
}
.fb {
    padding: 18px 17px;
    width: 53px;
    height: 55px;
}
.yt {
    padding: 18px;
    width: 55px;
    height: 55px;
}
.gh {
    padding: 18px 16px;
    width: 55px;
    height: 55px;
}
.mailto {
    padding: 18px 24px;
    width: 223px;
    height: 55px;
}
