.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 373px;
  height: 100%;
  z-index: 9999999;
  backdrop-filter: blur(100px);
  background-color: var(--background);
  background-image:
    url(../img/mobile/hero-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(100%);
  transition: transform 250ms linear;
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
  .mobile-menu {
    background-image: url(../img/mobile/hero-mob-@2x.png);
  }
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu-container {
  position: relative;
  height: 100%;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 32px;
  right: 21px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: var(--main-text);
}

.mobile-menu-close-btn-icon {
  fill: var(--main-text);
}

.closed {
  display: none;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.mob-menu-list-item {
  margin-bottom: 10px;
}

.mob-menu-list-item:last-child {
  margin-bottom: 0;
}

.mob-menu-list-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-skip-ink: none;

  color: var(--main-text);
}

.mob-btn-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

.mob-button {
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background-color: var(--accent-color);


}

.mob-button a {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-text);
}



@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}