.reviews-cards {
  margin-bottom: 30px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 32px;
}

.reviews-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  max-width: 343px;
  height: 302px;
  padding: 30px 24px;
}

.reviews-item:last-child {
  margin-right: 0;
}

.reviews-img {
  border-radius: 10px;
}

.reviews-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
  margin-top: 32px;
  margin-bottom: 20px;
}

.reviews-comment {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);

  overflow-y: auto;
  max-height: 100px;
}

.reviews-slider-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.reviews-slider-arrow {
  border: 1px solid var(--main-text);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
}

.reviews-slider-arrow-icon {
  stroke: var(--main-text);
  stroke-width: 2px;
  fill: transparent;
}

button.reviews-slider-arrow[disabled],
.rev-swiper-button-prev-js[disabled] .reviews-slider-arrow-icon,
.rev-swiper-button-next-js[disabled] .reviews-slider-arrow-icon {
  stroke: #3B3B3B;
  border-color: var(--arrow);
  cursor: not-allowed;
}